.footer {
    background-color: #cac8d0;  /* CultureMonk purple */
    color: rgb(36, 35, 35);
    text-align: center;
    padding: 1rem 0;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    margin-top: 2rem;
  }
  